.row {
    display: flex;
    align-items: stretch;/*cross axis >> vertically*/
}

.row .label {
    flex:0 0 auto;/*flex-grow flex-shrink flex-basis*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;/*start stands for right*/
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta {
    background-color: yellow;
}
.pizza {
    background-color: blue;
}
.burrito {
    background-color: aqua;
}